<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="whut.dao.ProInfoDao">
  <resultMap id="BaseResultMap" type="whut.pojo.ProductInfo">
    <id column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="product_code" jdbcType="VARCHAR" property="productCode" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="brand_name" jdbcType="VARCHAR" property="brandName" />
    <result column="one_category_id" jdbcType="INTEGER" property="oneCategoryId" />
    <result column="two_category_id" jdbcType="INTEGER" property="twoCategoryId" />
    <result column="three_category_id" jdbcType="INTEGER" property="threeCategoryId" />
    <result column="publish_status" jdbcType="TINYINT" property="publishStatus" />
    <result column="audit_status" jdbcType="TINYINT" property="auditStatus" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="discount_rate" jdbcType="INTEGER" property="discountRate" />
    <result column="average_cost" jdbcType="DECIMAL" property="averageCost" />
    <result column="production_date" jdbcType="TIMESTAMP" property="productionDate" />
    <result column="size" jdbcType="VARCHAR" property="size" />
    <result column="product_color" jdbcType="VARCHAR" property="productColor" />
    <result column="weight" jdbcType="DOUBLE" property="weight" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="input_time" jdbcType="TIMESTAMP" property="inputTime" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
  </resultMap>
    <select id="getList" resultType="ProductInfo" resultMap="BaseResultMap">
        SELECT * FROM product_info
    </select>
    
    <select id="getDetail" parameterType="String" resultMap="BaseResultMap">
    	SELECT * FROM product_info where product_id = #{id}
    </select>
    
    <select id="getDetailByCode" parameterType="String" resultMap="BaseResultMap">
    	SELECT * FROM product_info where product_code = #{id}
    </select>
    
     <select id="add" parameterType="ProductComment">
    	INSERT INTO `product_info`
    	(product_code,product_name,brand_name,one_category_id,two_category_id,
    	three_category_id,publish_status,audit_status,price,discount_rate,average_cost,
    	production_date,size,product_color,weight,description,input_time)      
        VALUES
    	(#{productCode},#{productName},#{brandName},#{oneCategoryId},#{twoCategoryId},
    	#{threeCategoryId},#{publishStatus},#{auditStatus},#{price},#{discountRate},
    	#{averageCost},#{productionDate},#{size},#{productColor},#{weight},#{description},
    	now())
    </select>
    
    <select id="search" parameterType="String" resultMap="BaseResultMap">
    	SELECT * FROM product_info where product_name LIKE '%${name}%'
    </select>
    
    <select id="modify" parameterType="ProductInfo">
    	UPDATE `product_info` SET 
    	product_name = #{productName},brand_name = #{brandName},one_category_id = #{oneCategoryId},two_category_id = #{twoCategoryId},
    	three_category_id = #{threeCategoryId},publish_status = #{publishStatus},audit_status = #{auditStatus},price = #{price},discount_rate = #{discountRate},
    	average_cost = #{averageCost},production_date = #{productionDate},size = #{size},product_color = #{productColor},weight = #{weight},
    	description = #{description},modified_time = now()    
        WHERE product_id = #{productId}
    </select>
    
    <select id="modifyAuditStatus" parameterType="hashmap">
    	UPDATE `product_info` SET 
    	audit_status = #{auditStatus},  modified_time = now()
        WHERE product_id = #{productId}
    </select>
    
    <select id="modifyShelfStatus" parameterType="hashmap">
    	UPDATE `product_info` SET 
    	publish_status = #{publishStatus}, modified_time = now()
        WHERE product_id = #{productId}
    </select>
    
    <select id="getListByCategory" parameterType="String" resultType="ProductInfo" resultMap="BaseResultMap">
    	SELECT * FROM product_info where one_category_id = #{category_id}
    	or two_category_id = #{category_id}
    	or three_category_id = #{category_id}
    </select>
</mapper>